.App {
  text-align: center;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 1px solid darkslategray;
  height: 50px;
  background-color: lightcoral;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

.monsterContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.monsters {
  border: 2px solid darkslategray;
  border-radius: 15px;
  width: 200px;
  box-shadow: 3px 3px lightgrey;
}

img {
  height: 150px;
  width: 150px;
}

input {
  width: 25px;
}

button {
  margin-bottom: 10px;
}